# Ignore the flutter sdk download and extraction
flutter/
flutter.tar.xz

# Ignore files from the flutter project
habit_stacker/.DS_Store
habit_stacker/*.iml
habit_stacker/*.ipr
habit_stacker/*.iws
habit_stacker/.idea/
habit_stacker/.vscode/
habit_stacker/build/
habit_stacker/.dart_tool/
habit_stacker/.flutter-plugins
habit_stacker/.flutter-plugins-dependencies
habit_stacker/.packages
habit_stacker/.pub-cache/
habit_stacker/ios/Pods/
habit_stacker/ios/Flutter/ephemeral/
habit_stacker/ios/Flutter/app.framework
habit_stacker/ios/Flutter/engine.framework
habit_stacker/ios/.symlinks/
habit_stacker/ios/Runner/GeneratedPluginRegistrant.h
habit_stacker/ios/Runner/GeneratedPluginRegistrant.m
habit_stacker/ios/Flutter/Generated.xcconfig
habit_stacker/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
habit_stacker/android/key.properties
habit_stacker/android/.gradle/
habit_stacker/android/local.properties
habit_stacker/windows/flutter/ephemeral/
habit_stacker/windows/flutter/generated_plugin_registrant.cc
habit_stacker/windows/flutter/generated_plugins.cmake
habit_stacker/windows/runner/Debug/
habit_stacker/windows/runner/Release/
habit_stacker/windows/runner/Profile/
habit_stacker/linux/flutter/ephemeral/
habit_stacker/linux/flutter/generated_plugin_registrant.cc
habit_stacker/linux/flutter/generated_plugins.cmake
habit_stacker/macos/Flutter/ephemeral/
habit_stacker/macos/Flutter/GeneratedPluginRegistrant.swift
habit_stacker/macos/Flutter/Generated.xcconfig
habit_stacker/macos/Pods/
habit_stacker/macos/.symlinks/
habit_stacker/web/
habit_stacker/test/
habit_stacker/integration_test/
habit_stacker/doc/
habit_stacker/coverage/
habit_stacker/.metadata
habit_stacker/.packages
habit_stacker/pubspec.lock
habit_stacker/analysis_options.yaml
habit_stacker/android/
habit_stacker/ios/
habit_stacker/macos/
habit_stacker/windows/
habit_stacker/linux/